@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
  font-family: "Big Shoulders Display", "Roboto", sans-serif;
}
.header__body {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  height: 100vh;
  background-color: #353535;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: #d6d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Big Noodle Titling";
}
.header__logo {
  background-color: #f8f6f6;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 140px;
  padding-left: 180px;
}
.header__logo-title {
  padding-left: 25px;
  font-family: "Big Noodle Titling";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #696969;
}
.header__title {
  font-size: 52px;
}
.header__text {
  font-size: 36px;
}
.scroll-down {
  position: absolute;
  bottom: 45px;
  left: 45%;
}
.scroll-down__text {
  display: block;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.mouse {
  padding-left: 45px;
  padding-bottom: 19px;
}
.block-title {
  max-width: 525px;
  padding: 94px 10px 56px 10px;
  margin: 0 auto;
  text-align: center;
}
.block-title__title {
  font-family: "Big Noodle Titling";
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}
.block-title__text {
  font-family: Roboto;
  font-size: 14.1px;
  line-height: 1.2;
  font-weight: 100;
  color: #696969;
}
.block-title__line {
  margin: 0 auto;
  display: block;
  width: 153px;
  height: 3px;
  background-color: #f4511e;
  margin-top: 9px;
  margin-bottom: 26px;
}
.about__content {
  max-width: 985px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__content__item {
  width: 320px;
  height: 196px;
  background-color: #ebebeb;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 118px;
}
.about__content__img {
  padding-top: 31px;
}
.about__content__title {
  padding-top: 24px;
}
.about__content__text {
  padding: 15px 47px;
}
.video {
  display: flex;
}
.video__text {
  background-color: #171f23;
  text-align: center;
}
.video__title {
  padding-top: 130px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #e7e7e7;
}
.video__info {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  color: #696969;
  padding: 18px 111px 0 95px;
}
.btn__link {
  padding-bottom: 103px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #ebebeb;
  background-color: #e84c3d;
  padding: 13px 29px 10px 29px;
  text-decoration: none;
}
.video__btn {
  padding-top: 46px;
  padding-bottom: 103px;
}
.video__popup {
  position: relative;
  flex: 0 0 50%;
  width: 100%;
  background-image: url(../img/bgpopup.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.video__image {
}
.video__popup:before {
  content: "";
  display: block;
  opacity: 0.3;
  background-color: #111618;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.video__btn-play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}
.modal-1 {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: fixed;
  left: 0;
  z-index: 10;
  padding: 5px 2px;
}
.modal-1-fade {
  top: 3%;
}
.closer {
  position: absolute;
  right: 2%;
  top: 2%;
  display: block;
  width: 30px;
  height: 3px;
  background-color: rgb(240, 240, 240);
  transform: rotate(45deg);
}
.closer:before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: rgb(240, 240, 240);
  z-index: 0;
  transform: rotate(-90deg);
}
.modal-1-slide {
  top: -20px;
  transform: translate(-50%, -100%);
  visibility: visible;
  opacity: 1;
}
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.87);
}

.video__body {
  object-fit: cover;
  width: 1300px;
  min-height: 95vh;
}
.fadeIn,
.fadeOut,
.slideInDown,
.slideOutUp {
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.works__menu {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 0 25px 34px 25px;
}
.works__item {
  padding: 0 15px;
  cursor: pointer;
}

.works__gallery-wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(5, 1fr);
}
.works__gallery-items {
  background-color: #e84c3d;
  height: 175px;
}
.pfotography {
  background-color: blue;
}
.design {
  background-color: blueviolet;
}
.branding {
  background-color: burlywood;
}
.app {
  background-color: cyan;
}
.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
}

.works__item-active {
  position: relative;
  font-size: 13.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  transition: all ease-in-out 0.2s;
}
.works__item-active:after {
  position: absolute;
  bottom: -50%;
  left: -3%;
  content: "";
  width: 112px;
  height: 1px;
  background-color: #e84c3d;
}

.works__item-active:nth-child(3):after {
  left: -7%;
}
.works__item-active:nth-child(4):after {
  left: -15%;
}
.works__item-active:nth-child(5):after {
  left: -7%;
}
.partners__inner {
  margin: 0 auto;
  background-color: #1c1c1c;
}
.partners__slider {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 113px;
  padding-bottom: 91px;
}
.slides {
  display: flex;
  justify-content: space-around;
}
/* .slider__item {
  align-items: center;
} */
.slides__item {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.slides__info {
  font-size: 33px;
  line-height: 40px;
  font-weight: 400;
  color: #ececec;
}
.slider__control {
  background: none;
}
.slider__control[data-slide="prev"] {
  left: -20%;
}
.slider__control[data-slide="next"] {
  right: -20%;
}
.slider__control[data-slide="prev"]::before {
  background-image: none;
  content: "";
  display: block;
  background-color: #5d5d5d;
  width: 20px;
  height: 4px;
  transform: translate(12px, -6px) rotate(-45deg);
}
.slider__control[data-slide="prev"]::after {
  content: "";
  display: block;
  background-color: #5d5d5d;
  width: 20px;
  height: 4px;
  transform: translate(-8px, 6px) rotate(45deg);
}
.slider__control[data-slide="next"]::before {
  background-image: none;
  content: "";
  display: block;
  background-color: #5d5d5d;
  width: 20px;
  height: 4px;
  transform: translate(12px, -6px) rotate(45deg);
}
.slider__control[data-slide="next"]::after {
  content: "";
  display: block;
  background-color: #5d5d5d;
  width: 20px;
  height: 4px;
  transform: translate(-8px, 6px) rotate(-45deg);
}
.who-we-are__inner {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.who-we-are-slider {
  max-width: 320px;
  position: relative;
}
.who-we-are__card-emploee {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 142px;
  padding-top: 55px;
  text-align: center;
}
.card-emploee__image {
  padding-bottom: 31px;
}
.card-emploee__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  text-align: center;
}
.card-emploee__text p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}
.who-we-are__emploee-info-inner {
  flex: 0 0 63%;
}
.who-we-are__emploee-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #ebebeb;
  padding: 90px 52px 46px 64px;

  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.who-we-are__emploee-info-slider {
  max-width: 591px;
}
/* .emploee-info__active {
  display: flex;
} */

.emploee-info__title {
  padding-bottom: 21px;
}
.emploee-info__title h3 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}
.emploee-info__title p {
  padding-top: 26px;
  ont-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  color: #858383;
}
.emploee-info__scale {
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
}
.scale__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.scale__text p,
.scale__persent p {
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}
.scale__progress {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.scale__persent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.scale__line {
  position: relative;
  width: 369px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 31px;
}
.scale__line::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 291px;
  height: 1px;
  background-color: #e84c3d;
}
.scale__line:nth-child(2)::before {
  width: 308px;
}
.scale__line:nth-child(3)::before {
  width: 298px;
}
.scale__line:nth-child(4)::before {
  width: 343px;
}
.card-emploee__social {
  display: flex;
}
.social:nth-child(2) {
  padding-left: 9px;
  padding-right: 9px;
}
.social a {
  text-align: center;
  width: 17px;
  height: 12px;
  float: left;
  border-radius: 24px;
  margin: 0 10px 10px 0;
  padding: 6px;
  color: #696969;
  transition: all 0.6s ease;
}
.twitter a:hover {
  color: #00acee;
  transition: all 0.6s ease;
}
.facebook a:hover {
  color: #3b5998;
  transition: all 0.6s ease;
}
.behance a:hover {
  color: #3b5998;
  transition: all 0.6s ease;
}
.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 11px;
  height: 11px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #ffffff;
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-radius: 50%;
}
.slider__indicators {
  position: absolute;
  right: 0;
  top: 76%;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.slider__indicators li.active {
  background-color: #8e8181;
}

/* KeyFrames Start */

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.hide {
  display: none;
}

.show {
  display: block;
}
.show-emploee {
  display: flex;
}
.hide-emploee {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fadeIn {
  animation-name: fadeIn;
  opacity: 1;
  visibility: visible;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fadeOut {
  animation-name: fadeOut;
  opacity: 0;
  visibility: hidden;
}

@keyframes slideInDown {
  from {
    top: -20px;
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.slideInDown {
  animation-name: slideInDown;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideOutUp {
  from {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: -20px;
    transform: translate(-50%, -100%);
  }
}
.slideOutUp {
  animation-name: slideOutUp;
}

/* @-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
} */
/* .hide {
  display: none;
}

.show {
  display: block;
} */
/* KeyFrames End */
